.footer{
    background-color: map-get($colores,color-celeste); 
    padding: 20px;
    &_row{
        justify-content: space-evenly;
        align-content: center;
    }
    .principio{
        @extend %flex-column;
        & img{
            width: 150px;
            height: 150px;
        } 
    }
    .final{
        @extend %flex-column;
        flex-wrap: nowrap;
        font-family: $titulo-chico;
        color: map-get($colores,color-azul);
        font-size:28px;
        .contacto{
            list-style: none;
            & li{
                font-size: 18px;
                width: fit-content;
                padding-top: 10px;
                text-align:start;
                padding-left: 0;
            }
            & span{
                text-decoration: underline;
                font-weight: bold;
            }
        }
        .logosRedes li{
            display:inline-block;
            padding: 20px;
        }  
        .logosRedes a{
            color:map-get($colores,color-amarillo);
        }
    }
    .navegacion{
        list-style: none;
        text-align: center;
        padding-left: 0;
        & li{
            padding:10px;
            & a{
                color:map-get($colores,color-azul);
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                font-family: $parrafo;
                &:hover{
                    color:map-get($colores,color-amarillo);
                }
            }
        }   
    }
}
