.presentacion{
    background-image: linear-gradient(to top, $color-celeste,#bf8d30e0); 
    text-align: center;
    height: fit-content;
    width: 100%;
    & h1{
        font-size: 4em;
        font-weight: bold;
        color: $color-azul;
        padding:10px;
        font-family: $titulo;
        margin: 0;
        animation-name: entradaTitulo;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
    & h2{
        font-size: 2.5em;
        font-weight: bold;
        color: $color-azul;
        padding:10px; 
        font-family: $titulo;
        margin: 0;
        animation-name: entradaTitulo;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
}
@keyframes entradaTitulo  {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.carousel-item{
    height: 90vh;
    & img{
        height: 100%;
    }
}
.items{
    background-color: $color-azul;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: nowrap;
    align-items: center;
    &_encabezado h2{
        color: $color-amarillo;
        font-size: 44px;
        font-weight:bold;
        padding:5px;
        font-family: $titulo-chico;
        font-style: italic;
        text-align: center;
    }
    &_encabezado h3{
        color: $color-amarillo;
        font-size: 28px;
        font-weight:bold;
        padding:5px;
        font-family: $titulo-chico;
        font-style: italic;
        text-align: center;
    }
    &_lista{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        width: 100%;
        height:fit-content;
        margin-top: 20px;
        .asesores{
            width:20vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items:center ;
            text-align: center;
        }
        .viaje{
            width:20vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items:center ;
            text-align: center;
        }
        .servicio{
            width:20vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items:center ;
            text-align: center;
        }
        .precio{
            width:20vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items:center ;
            text-align: center;    
        }
        & h2{
            margin:10px;
            padding: 5px;
            font-weight:bold;
            font-family: $titulo;
            color: $color-amarillo;
            font-size: 20px;
            font-style: oblique;
        }
        & p{
            margin:10px;
            padding: 5px;
            font-size: 18px; 
            font-family: $parrafo;
            color:white;
        }
    }

}
.barcelona{
    width: 100%;
    height: fit-content;
    & h2{
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        padding:10px;
        color:$color-azul;
        font-family: $titulo-chico;
    }
    & p{
        text-align: center;
        font-size: 18px;
        margin:10px;
        padding:10px;
        font-family: $parrafo; 
    }
}