.main{
    background-color: map-get($colores,color-azul);
}
.presentacion{
    /* background-image: linear-gradient(to top, map-get($colores,color-celeste),#bf8d30e0); */ 
    background-image: linear-gradient(to top, map-get($colores,color-azul),map-get($colores,color-celeste));
    text-align: center;
    height: fit-content;
    width: 100%;
    & h1{
        font-size: 4em;
        font-weight: bold;
        /* color: map-get($colores,color-azul); */
        color:map-get($colores,color-azul);
        padding:10px;
        font-family: $titulo;
        margin: 0;
        animation-name: entradaTitulo;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
    & h2{
        @extend h1;
        color: map-get($colores, color-amarillo);
        font-size: 2.5em;
    }
}
@keyframes entradaTitulo  {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.carousel{
    padding:0;
    margin-top: 30px;
    &-item{
        height: 70vh;
        & img{
        height: 100%;
        }
    }
}
.items{
    background-color: map-get($colores,color-azul);
    width: 100%;
    height: fit-content;
    @extend %flex-column;
    justify-content:space-around;
    flex-wrap: nowrap; 
    &_encabezado h2{
        color: map-get($colores,color-amarillo);
        font-size: 44px;
        font-weight:bold;
        padding:5px;
        margin-top: 10px;
        font-family: $titulo-chico;
        font-style: italic;
        text-align: center;
    }
    &_encabezado h3{
        @extend h2;
        font-size: 28px;
    }
    &_lista{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        width: 100%;
        height:fit-content;
        margin-top: 20px;
        &_objetos{
            width:20vw;
            height: fit-content;
            @extend %flex-column;
            flex-wrap: nowrap;
            text-align: center;
        }
        & h2{
            margin:10px;
            padding: 5px;
            font-weight:bold;
            font-family: $titulo;
            color: map-get($colores,color-amarillo);
            font-size: 20px;
            font-style: oblique;
        }
        & p{
            margin:10px;
            padding: 5px;
            font-size: 18px; 
            font-family: $parrafo;
            color:white;
        }
    }
}
.barcelona{
    width: 100%;
    height: fit-content;
    background-color: white;
    & h2{
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        padding:10px;
        margin:0;
        color:map-get($colores,color-azul);
        font-family: $titulo-chico;
    }
    & p{
        text-align: center;
        font-size: 18px;
        margin:0;
        padding:20px;
        font-family: $parrafo; 
    }
}