.paquetes_principal{
    height: fit-content;
    margin:auto;
    margin-top:10px;
    border:solid 1px;
    border-radius: 5px;
    border-color: $color-azul;
    box-shadow: 0px 5px 11px 2px $color-azul;
    & h2{
        text-align: center;
        font-family: $titulo-chico;
        color:$color-azul;
        padding: 10px;
        margin:10px;
    }
    .paquetes{
        justify-content: space-evenly; 
        margin-bottom: 20px;
        .paquete1{
            width:27%;
            height:fit-content;
        }
        .paquete2{
            width:27%;
            height: fit-content;
        }
        .paquete3{
            width:27%;
            height:fit-content; 
        }
        & img{
            width: 100%;
            height: 30vh;
        }
        & p{
            margin-top:10px;
            font-size: 16px;
            font-family: $parrafo;
            font-style: oblique;
        } 
    }
}
.ofertas_principal{
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    & h2{
        font-family: $titulo-chico;
        color:$color-azul;
        padding:10px;
        text-align: center;
    }
    & span{
        border:solid 1px;
        color:$color-amarillo;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        padding:5px;
        margin:10px;
        display: block;
        font-family: $parrafo;
    }
    & p{
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        padding:5px;
        text-align: center;
    }
    .oferta1{
        height: fit-content;
        text-align: center;
        &_lista li{
            font-size: 18px;
            font-family: $parrafo;
            padding:10px;
            list-style: none;
        }
    }
    .oferta2{
        height:fit-content;
        text-align: center;
        &_lista li{
            font-size: 18px;
            font-family: $parrafo;
            padding:10px;
            list-style: none;
        }
    } 
}