*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera cabecera"
        "cabecera cabecera cabecera cabecera"
        "principal principal principal principal"
        "principal principal principal principal"
        "principal principal principal principal"
        "principal principal principal principal"
        "principal principal principal principal"
        "pie pie pie pie";
}
main{
    grid-area: principal;
}
.header{
    grid-area: cabecera;
}
.footer{
    grid-area: pie;
}
@include media-query(despliegueMenu){
    .navbar .nav-item:hover{
        transform: scale(1,1);
    }
    .navbar .nav-item .nav-link{
        color: map-get($colores,color-amarillo) !important;
    }
}
@include media-query(tablet){
    .footer_logo {
        width: 110px;
    }
    .principio{
        text-align: center;
        font-size: 14px;
    }
    
    .contacto{
        text-align: center;
        margin-top: 10px;
    }
    .presentacion h1{
        font-size: 3em;
    }
    .presentacion h2{
        font-size: 1,3em;
    }
    .carousel-item{
        height: 60vh;
    }
    .fundador{
        justify-content: center;
    }
    
    .fotos .foto6{
        grid-area: 4/1/5/3;
        height: 50vh; 
    }
    .fotos .foto7{
        grid-area: 5/1/6/2;
        height: 40vh;
    }
    .fotos .foto8{
        grid-area: 5/2/6/3;
        height: 40vh;
    }
    .fotos .foto2{
        height: 50vh;
    }
    .fotos .foto3{
        height: 50vh;
    }
    .fotos .foto4{
        height: 50vh;
    }
    .fotos .foto5{
        height: 50vh;
    }
    .fotos .foto9{
        height: 40vh;
    }
    .fotos_titulo{
        font-size: 30px;
    }
    .paquetes{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .paquetes_principal .paquetes .paquetes_lista{
        width: 70%;
    }
    .paquetes_principal h2{
        text-align: center;
    }
}
@include media-query(mobile){
    .carousel-item{
        height: 40vh;
    }
    .presentacion h1{
        font-size: 28px;
    }
    .presentacion h2{
        font-size: 18px;
    }
    .items_encabezado h2{
        font-size: 28px;
    }
    .items_encabezado h3{
        font-size: 18px;
    }
    .items_lista{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        flex-wrap: nowrap;
        height:fit-content;
        align-items: center;
    }
    .items_lista_objetos{
        width:100%;
    }
    .fotos_titulo h2{
        font-size: 30px;
    }
    .fotos .foto6{
        height: 35vh; 
    }
    .fotos .foto7{
        height: 25vh;
    }
    .fotos .foto8{
        height: 25vh;
    }
    .fotos .foto2{
        height: 30vh;
    }
    .fotos .foto3{
        height: 30vh;
    }
    .fotos .foto4{
        height: 30vh;
    }
    .fotos .foto5{
        height: 30vh;
    }
    .fotos .foto9{
        height: 35vh;
    }
}
