/* VARIABLES */

$titulo: 'Fraunces', serif;
$titulo-chico: 'Spectral', serif;
$parrafo: 'Roboto', sans-serif;

/* MIXIN */

@mixin media-query($pantalla){
    @if $pantalla==mobile{
        @media only screen and (max-width:550px){
            @content;
        }
    };
    @if $pantalla==tablet{
        @media only screen and (max-width:768px){
            @content;
        }
    };
    @if $pantalla==despliegueMenu{
        @media only screen and (max-width:991px){
            @content;
        }
    };
}

/* MAP */

$colores:(
    color-azul: #253C59,
    color-celeste: #99B4BF,
    color-amarillo: #BF8D30,
);

/* EXTEND */

%flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
};



